---
http_interactions:
- request:
    method: get
    uri: https://stackoverflow.com/jobs/feed?l=Munich,%20Deutschland&sort=p
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/rss+xml; charset=utf-8
      X-Request-Guid:
      - a64e8501-b27a-4203-a1ea-3e01bfe5fd13
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="utf-8"?><rss xmlns:a10="http://www.w3.org/2005/Atom"
        version="2.0"><channel xmlns:os="http://a9.com/-/spec/opensearch/1.1/"><title>jobs
        in Munich, Deutschland - Stack Overflow</title><link>https://stackoverflow.com/jobs</link><description>jobs
        in Munich, Deutschland - Stack Overflow</description><image><url>http://cdn.sstatic.net/Sites/stackoverflow/img/favicon.ico?v=4f32ecc8f43d</url><title>jobs
        in Munich, Deutschland - Stack Overflow</title><link>https://stackoverflow.com/jobs</link></image><os:totalResults>263</os:totalResults><item><guid
        isPermaLink="false">523915</guid><link>https://stackoverflow.com/jobs/523915/fullstack-software-developer-m-f-d-python-at-hubert-burda-media?a=2PHHpzo2yN3O&amp;so_medium=Talent&amp;so_source=TalentApi</link><a10:author><a10:name>Hubert
        Burda Media</a10:name></a10:author><category>python</category><category>django</category><category>sass</category><category>javascript</category><category>xss</category><title>Fullstack
        Software Developer (m/f/d) Python at Netdoktor at Hubert Burda Media (München,
        Deutschland)</title><description>&lt;p&gt;&lt;strong&gt;Fullstack Software
        Developer (m/f/d) Python at Netdoktor&lt;/strong&gt;&lt;/p&gt;&lt;br /&gt;&lt;p&gt;&lt;strong&gt;What
        you can expect from us ...&lt;/strong&gt;&lt;/p&gt;&lt;br /&gt;&lt;ul&g[...]
